body {
  background-color: #241847;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sudoku {
  background-color: #f3f3f3;
  border-radius: 10px;

  width: 300px;
  height: 300px;
}
@media (min-width: 700px) {
  .sudoku {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 900px) {
  .sudoku {
    width: 800px;
    height: 800px;
  }
}
