@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --page-bg-color: #241847;
  --sudoku-bg-color: #f3f3f3;
  --selected-primary-color: #b6a2f5;
  --selected-secondary-color: #ddd1ff;
  --selected-tertiary-color: var(--selected-primary-color);
  --permanent-num-color: black;
  --non-permanent-num-color: #764eed;
}

html,
body {
  height: 100%;
}

#root {
  background-color: var(--page-bg-color);
  font-family: "Inter", sans-serif;
  font-size: 12px;

  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  #root {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  #root {
    font-size: 18px;
  }
}

.heading {
  color: white;
  margin: 10px;
}

.sudoku {
  background-color: var(--sudoku-bg-color);
  border-radius: 10px;
  font-size: 9px;

  width: 300px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 700px) {
  .sudoku {
    font-size: 18px;
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 900px) {
  .sudoku {
    font-size: 24px;
    width: 800px;
    height: 800px;
  }
}

table {
  border-collapse: collapse;
  width: 30em;
  height: 30em;
}
colgroup,
tbody {
  border: solid medium;
}
td {
  color: var(--non-permanent-num-color);
  border: solid thin;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  padding: 0;
}
.selected-cell {
  background-color: var(--selected-primary-color);
}
.selected-row-col {
  background-color: var(--selected-secondary-color);
}
.selected-number {
  background-color: var(--selected-tertiary-color);
}
.permanent {
  color: var(--permanent-num-color);
}

.button {
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;

  padding: 5px 10px;
}

.error {
  background-color: #ffcccc;
}
